<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="machine" class="com.awesomevendingco.vendingmachine.VendingMachine">
		<property name="coinTranslator" ref="coins" />
	</bean>
		
	<bean id="coins" class="com.awesomevendingco.vendingmachine.CoinTranslatorImpl">
		<property name="coinValues">
			<map>
				<entry key="NICKEL" value="0.05" />
				<entry key="DIME" value="0.10" />
				<entry key="QUARTER" value="0.25" />
			</map>
		</property>
	</bean>

</beans>